/* Grid System. 
 * 12/17/2017
 * ============================================
 * Modified from Jan Drewniak's blog: http://j4n.co/blog/Creating-your-own-css-grid-system
 * ============================================
 */

.grid-container{
	width: 100%; 

	min-width: 50%;
	margin-top: 60px;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

[class*='col-'] {
	float: left; 
	min-height: 1px; 
	width: 16.66%; 
	/*-- our gutter -- */
	padding: 30px; 
	background-color: #FFDCDC;
}

.col-1{ width: 100%; }
.col-2{ width: 20%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
	outline: 1px solid #000000; 
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
 background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: center;  
}

.grid-title  {
	font-size: 3rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: black;
	text-align: center;
	text-shadow: 2px 2px 4px white;
	font-weight:bold;
}

.grid-title2  {
	font-size: 2rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 4px white;
}

.grid-content   {
	font-size: 1rem;
	line-height: 100%;
	letter-spacing: .2rem;
	color: purple;
	text-align: center;
	text-shadow: 2px 2px 4px white;
}
